/* ::::: http://blogersnews.com/landing_file/SlimPills/Spacer_25/pt-malyshev-soda-1ruble-eco-slim/css/template.css ::::: */

/* ::::: http://blogersnews.com/landing_file/SlimPills/Spacer_25/reset.css ::::: */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; font-size: 100%; }
a { text-decoration: none; color: rgb(25, 116, 187); margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
a:hover { text-decoration: underline; }
input, select, button, textarea { margin: 0px; font-size: 100%; border: 0px none; outline: medium none; }
input[type="checkbox"] { vertical-align: bottom; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
ul { list-style: outside none none; }
html { font-size: 10px; }
body { font-size: 16px; font-family: "PT Sans",sans-serif; background: rgb(197, 226, 255) url('malish.jpg') no-repeat scroll center 0px; }
.limit { max-width: 1040px; margin: 350px auto 0px; display: block; }
main .content { display: inline-block; width: 100%; vertical-align: top; background-color: rgb(255, 255, 255); }
main { background-color: rgb(255, 255, 255); z-index: 100; }
.dialog-border { border: 4px solid rgb(22, 158, 209); background: rgb(229, 242, 255) none repeat scroll 0% 0%; padding: 10px 15px 15px; }
.wwrapper_border { border: 10px solid rgba(33, 89, 134, 0.61); z-index: 10; margin-top: -10px; }
.text { padding: 10px 70px; }
main #facebook .writeComment::before, main #facebook .writeComment::after { content: ""; display: table; clear: both; width: 100%; }
main #facebook .commentsList::before, main #facebook .commentsList::after { content: ""; display: table; clear: both; width: 100%; }
.text p { margin: 10px auto; }
header { background-color: rgb(25, 116, 187); }
header#page-title { position: relative; color: white; z-index: 15; padding-bottom: 10px; }
header#page-title .promo { margin-left: auto; margin-right: auto; height: auto; min-height: 60px; }
header#page-title .promo > div { position: relative; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
header#page-title .promo .title { max-width: 920px; padding-left: 5px; }
header#page-title .promo .title a, header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title { display: inline-block; line-height: 40px; font-size: 30px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; float: left; color: inherit; text-decoration: none; }
header#page-title .promo .title span:not(.message), header#page-title .promo .title h1.title { margin: 10px 5px 10px 0px; }
header#page-title .promo .age_restriction { position: absolute; right: 0px; top: 0px; margin: 20px 0px 0px; width: 60px; font-weight: bold; }
header#page-title .promo .age_restriction { position: absolute; right: 0px; top: 0px; margin: 20px 0px 0px; width: 60px; font-weight: bold; }
.clearfix::after { clear: both; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.content-width { margin-left: auto; margin-right: auto; }
header#page-title .menu ul { display: inline-block; vertical-align: top; margin: 0px; padding: 0px; list-style: outside none none; }
header#page-title .menu ul .burg { display: none; }
header#page-title .menu ul .burg img { max-width: 30px; }
header#page-title .menu ul li { display: inline-block; margin: 0px 11px; }
header#page-title .menu ul li { transition: opacity 0.1s ease-in-out 0s; display: inline-block; margin-right: 23px; }
header#page-title .menu ul li a { display: block; line-height: 21px; box-sizing: border-box; color: inherit; text-decoration: none; font-weight: bold; font-size: 13px; text-transform: uppercase; letter-spacing: 0.99px; padding: 3px; }
header#page-title .promo .age_restriction .pill { display: block; margin: 0px auto; padding: 1px 5px; width: 40px; border-radius: 2px; color: white; background-color: rgba(255, 255, 255, 0.2); text-align: center; }
.comment { padding-bottom: 10px; font-size: 22px; font-weight: 600; color: rgb(14, 97, 162); }
.se_a { text-decoration: none; }
.bs_se { display: block; margin: 20px auto; max-width: 455px !important; border-radius: 30px; background-color: rgb(25, 116, 187); color: rgb(255, 255, 255); text-align: center; padding: 7px 25px; text-transform: uppercase; font-weight: 600; font-size: 22px; cursor: pointer; box-shadow: 0px 10px 5px 0px rgb(21, 80, 133); }
.bs_se:hover { transform: scale(1.1); }
.comm { padding: 10px; border-top: 1px solid rgb(217, 227, 235); }
.top_com img { max-width: 50px; display: inline-block; vertical-align: middle; }
.text_va { display: inline-block; vertical-align: middle; max-width: 90%; padding-left: 10px; }
.top_com h3 { color: rgb(121, 138, 149); }
.top_com span { color: rgb(121, 138, 149); }
.text h1 { text-align: center; font-size: 28px; margin-bottom: 10px; color: rgb(25, 116, 187); }
.ctr_ima { display: block; margin: 10px auto; width: 100%; }
.comment_image img { max-width: 475px; }
label::before { content: ""; display: inline-block; vertical-align: middle; width: 40px; height: 40px; margin-right: 10px; border: 1px solid rgb(112, 126, 137); float: left; }
.footer_Se { text-align: center; background-color: rgb(255, 255, 255); margin-top: 20px; padding: 10px 0px; }
.p_italic { font-style: italic; text-align: right; }
.image_center { margin: 0px auto; width: 100%; }
.comment_image { text-align: center; color: rgb(25, 116, 187); font-style: italic; }
.imgsoda1 { display: inline-block; width: 49%; }
.imgsoda2 { display: inline-block; width: 49%; }
.imgbefore { width: 20%; display: inline-block; vertical-align: middle; }
.imgbefore1 { max-width: 100%; }
.sum { width: 20%; display: inline-block; vertical-align: middle; font-size: 200px; color: rgb(22, 158, 209); }
.prod { width: 20%; display: inline-block; vertical-align: middle; }
.prod1 { max-width: 100%; }
.rav { width: 20%; display: inline-block; vertical-align: middle; font-size: 200px; color: rgb(22, 158, 209); }
.imgafter { width: 20%; display: inline-block; vertical-align: middle; }
.imgafter1 { max-width: 100%; }
.color { color: white; text-decoration: none !important; }
.textalign { text-align: center; }
.textalign5 { font-size: 0px; padding-top: 10px;}
.textalign5 > i { font-size: 16px; }
.shake { display: inline-block; animation-name: shake; animation-duration: 0.8s; transform-origin: 50% 50% 0px; animation-iteration-count: infinite; animation-timing-function: linear; }
@media screen and (max-width: 800px) {
	body { background: rgb(38, 7, 1) none repeat scroll 0% 0%; }
	.limit { margin-top: 0px; }
}
@media screen and (max-width: 800px) {
	main .content { width: 100%; box-sizing: border-box; }
	header a { text-decoration: none; }
	.sum { font-size: 150px; }
	.rav { font-size: 150px; }
}
@media screen and (max-width: 663px) {
	.ctr_ima { max-width: 100%; }
}
@media screen and (max-width: 555px) {
	.ctr_ima { max-width: 100%; }
	header#page-title .promo .age_restriction .pill { display: none; }
	.sum { font-size: 140px; }
	.rav { font-size: 140px; }
	.bs_se { font-size: 17px; }
}
@media screen and (max-width: 500px) {
	.text { padding-left: 10px; padding-right: 10px; }
}
@media screen and (max-width: 480px) {
	header#page-title .menu ul li { margin: 0px; }
	header#page-title .menu ul li:not(.burg) { display: none; }
	header#page-title .menu ul { text-align: center; width: 100%; }
	header#page-title .menu ul .burg { display: block; text-align: center; }
	.sum { font-size: 100px; }
	.rav { font-size: 100px; }
}
@media screen and (max-width: 410px) {
	.sum { font-size: 78px; }
	.rav { font-size: 78px; }
}
.prod1 { margin-left: -50px; }
#product-block { height: 300px; width: 100% !important; display: block; margin: 30px 0px 0px -55px !important; background-size: contain; text-align: center; }
#product-block .plashka2-t { color: rgb(255, 249, 21); font-size: 20px; line-height: 25px; }
#product-block .plashka2 b { text-shadow: 1px 1px 2px rgb(55, 56, 56); }
#product-block .plashka2 { position: absolute; background: transparent url('sale-bg-2_001.png') no-repeat scroll center center / 190px 262px; width: 190px !important; height: 138px; padding: 133px 30px 0px 0px; line-height: 22px; text-align: center; font-size: 17px; color: rgb(255, 255, 255); margin: 25px 0px 0px -15px !important; font-family: "Roboto",sans-serif; box-sizing: content-box; z-index: 5; }
@media screen and (max-width: 920px) {
	#product-block { width: 100% !important; height: 200px !important; margin: 60px 0px 0px -45px !important; }
	#product-block .plashka2 { background-size: 135px 188px; width: 110px !important; height: 98px; padding: 95px 25px 0px 0px; line-height: 16px; font-size: 13px; margin: 5px 0px 0px !important; }
	#product-block .plashka2-t { font-size: 15px; }
}
@media screen and (max-width: 768px) {
	#product-block .plashka2 { display: none; }
	.prod1 { margin-left: -5px; }
}
/* ::::: http://blogersnews.com/landing_file/SlimPills/Spacer_25/css/link1.css ::::: */

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('jx7mlxqjsjnjqvi4hemmgvy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('vtwnvmp8y9c17vlvibnzi_y6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('9kad4v2pnpmmeuvbhayd7vy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('atkpv8nlyakuyexo8iqqrg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('ktyfcwjhlldpf5lng4znhceavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('g46x4vh_khowaaa-hpngpieavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('hporcvlztemlh8gi-1s-7ieavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('0xxgqssc1g4rdrdjjkzrnpk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('gpwpm_6s4vqlpnaq3iwvvrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('7dsh6bcuqdlzs2qaasieuhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('dvkqjxmmc9wf_oplmzlqqrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('pipmhy90p7jtyjpxuz2clftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: http://blogersnews.com/css/s_all.css?v=2 ::::: */

@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
.pl_next_order_page { display: none; }
.pl_field_submit { display: none; }
.pl_field_address_info { opacity: 0; }
#s_comebacker_block { background: white none repeat scroll 0% 0%; width: 100%; height: 177px; z-index: 10000; position: fixed; top: 0px; left: 0px; right: 0px; display: none; text-align: center; }
#s_comebacker_block img { width: 593px; height: 177px; }


#product-block {
  	background: url(order_tube.png) center center no-repeat;
  	height: 338px;
  	width: 100% !important;
  	display:block;
  	margin:0px 0px 0px 0px !important;
  	margin: 0 0 0 -10% !important;
  	background-size:contain;
  	text-align: center;}
#product-block .plashka2-t{ color:#fff915; font-size:20px; line-height:25px; }
#product-block .plashka2 b{ text-shadow: 1px 1px 2px #373838; }
#product-block .plashka2 {
  	position: absolute;
  	background: url(sale-bg-2.png) center center no-repeat;
  	background-size: 190px 262px;
  	width: 190px !important;
  	height: 138px;
  	padding: 144px 30px 0 0;
  	line-height: 22px;
  	text-align: center;
  	font-size: 17px;
  	color: #fff;
  	margin: 48px 0 0 -10px !important;
  	font-family: 'Roboto', sans-serif;
  	box-sizing: content-box;
  	z-index: 5;
}
@media screen and (max-width: 767px) {
  	#product-block {
    	width: 100% !important;
    	height: 224px !important;
    	margin: 0 0 0 -10% !important;
  	}	
  	#product-block .plashka2 {
    	background-size: 135px 188px;
    	width: 110px !important;
    	height: 98px;
    	padding: 95px 25px 0 0;
    	line-height: 16px;
    	font-size: 13px;
    	margin: 15px 0 0 0px !important;
  	}
  	#product-block .plashka2-t{	font-size:15px;	}	
}
@media screen and (max-width: 720px) {
	.renul_seDwyoGn57 .gelat_Bb6MhOHv {text-align:center}
}
@media screen and (max-width: 200px) {
  	#product-block .plashka2 {display:none;} }